---
import Navbar from '../components/Navbar.astro'

export interface Props {
  title: string
  bgColor: string
}

const { title, bgColor } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body style="margin:0;padding:0" class="flex flex-col">
    <Navbar color={bgColor} />
    <slot />
  </body>
</html>
