.git
**/.next
**/build
**/dist
node_modules
apps/web/node_modules
apps/backend/node_modules
packages/core/node_modules
packages/domain/node_modules
packages/eslint-config/node_modules
packages/database/in-memory-repository/node_modules
packages/database/sqlite/node_modules
packages/trpc/node_modules
packages/tsconfig/node_modules
packages/ui/node_modules
**/.DS_Store
Dockerfile
*.log
