<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>invite</title>
    <script src='https://cdn.tailwindcss.com'></script>
  </head>

  <body>
    <section class='max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900'>
      <main class='mt-8'>
        <h2 class='text-gray-700 dark:text-gray-200'>Hi {{email}},</h2>

        <p class='mt-2 leading-loose text-gray-600 dark:text-gray-300'>
          {{invitedBy}}
          has invited you to join
          <span class='font-semibold'>undb</span>.
        </p>

        <a
          href='{{url}}'
          class='px-6 py-2 mt-4 text-sm font-medium tracking-wider text-white capitalize transition-colors duration-300 transform bg-primary rounded-lg hover:bg-primary focus:outline-none focus:ring focus:ring-primary focus:ring-opacity-80'
        >
          Accept the invite
        </a>

        <p class='mt-8 text-gray-600 dark:text-gray-300'>
          Thanks,
          <br />
          undb team
        </p>
      </main>

    </section>
  </body>

</html>