---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="documents" bgColor="transparent">
  <div class="flex h-screen mt-[72px]">
    <div class="left h-full w-[300px] bg-slate-200">
      <p class="text-xs font-bold">WELCOME</p>
    </div>
  </div>
</Layout>
