<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invite</title>
  </head>
  <body>
    Hello
    {{email}}
    from undb
  </body>
</html>