---
export interface Props {}
const {} = Astro.props
---

<div class="container flex justify-between h-72 mx-auto items-center gap-20 border-solid border-b-2 border-gray-200">
  <div class="flex h-full gap-1 items-center">
    <img class="h-2/3" alt="ego.io" src="/apple-touch-icon.png" />
    <span class="font-mono text-2xl font-extrabold">ego</span>
  </div>
  <div class="flex items-center h-full gap-12 font-bold">
    <div class="text-1xl">Show Case</div>
    <div class="text-1xl">Docs</div>
    <div class="text-1xl">Community</div>
    <div class="text-1xl">Pricing</div>
  </div>
  <div class="flex h-full items-center gap-[1.6rem]">
    <button class="rounded-lg border-2 border-[#8CAEFF]/50 py-[7px] px-[20px] font-bold">Sign in</button>
    <button class="font-bold bg-[#8CAEFF] rounded-lg py-[9px] px-[20px] text-slate-100">Get start</button>
  </div>
</div>
