<div
  class="footer-content-container w-screen flex px-[80px] justify-start items-start gap-[80px] my-[40px] font-[300] text-[14px]"
>
  <div class="flex justify-start items-center gap-[4px]">
    <img class="h-[32px]" src="/apple-touch-icon.png" alt="" />
    <span class="font-[700] text-[16px]">ego.db</span>
  </div>
  <div class="flex flex-col gap-[16px] justify-start items-start">
    <button class="hover:text-sky-500 cursor-pointer">Pricing</button>
    <button class="hover:text-sky-500 cursor-pointer">About us</button>
  </div>
  <div class="flex flex-col gap-[16px] justify-start items-start">
    <button class="hover:text-sky-500 cursor-pointer">Support</button>
    <button class="hover:text-sky-500 cursor-pointer">Customer stories</button>
  </div>
  <div class="flex flex-col gap-[16px] justify-start items-start">
    <button class="hover:text-sky-500 cursor-pointer">Contact sales</button>
    <button class="hover:text-sky-500 cursor-pointer">Enterpries</button>
  </div>
  <div class="flex flex-col gap-[16px] justify-start items-start">
    <button class="hover:text-sky-500 cursor-pointer">Integrations</button>
    <button class="hover:text-sky-500 cursor-pointer">Templates</button>
  </div>
</div>
